{{ define "main" }}
<div class="card flex items-center justify-center">
    <div class="container text-center items-center">
        <div class="text-9xl font-extrabold text-white tracking-widest mb-4">404</div>
        <div class="px-4 py-2 text-white rounded-md mb-6">
            Page Not Found
        </div>
        <a href="/"
            class="bg-gradient-to-r from-purple-400 to-blue-500 hover:from-pink-500 hover:to-orange-500 text-white font-semibold px-8 py-4 rounded-md m-4 transition duration-300 ease-in-out transform hover:scale-105">
            HOME
        </a>
    </div>
</div>
{{ end }}